.reason {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  /* maxHeight is only needed if the browser does not support lineClamp properly */
  max-height: 3em;
  min-height: 3em;
}
