.wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 350px;
  padding: 16px;
  z-index: 1400;
}

.header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header :global .MuiIconButton-root {
  margin-right: -8px;
}

.description {
  text-align: justify;
}
