.wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 478px;
  padding: 24px;
  z-index: 1400;
  border-radius: 8px;
}

.header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header :global .MuiIconButton-root {
  margin-right: -8px;
}

.infoIcon svg {
  width: 32px;
  height: 32px;
}

.description {
  text-align: justify;
  margin-bottom: 16px !important;
}
