.card {
  background-color: var(--mui-palette-info-background);
  width: 265px;
  height: 100%;
  padding: 24px;
  display: grid;
  justify-content: space-between;
  border-radius: var(--mui-shape-borderRadius);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--mui-palette-text-secondary);
  margin-bottom: 8px;
}
