name: Deploy Apps
# Run on pushes to dev/main or PR
on:
  # Pull request hook without any config. Launches for every pull request
  pull_request:
  # Launches for pushes to main or dev
  push:
    branches:
      - main
      - development
  # Run manually to version/production deployment/github releases
  workflow_dispatch:
env:
  REPO_NAME_ALPHANUMERIC: safereactapps
  HUSKY: 0

jobs:
  pr:
    name: Pull Request
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - uses: ./.github/actions/setup-env
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2

      - name: Test, Build, Deploy PR
        run: |
          npx nx affected --target=test
          npx nx affected --target=build 
          npx nx affected --target=deploy:pr
        env:
          PR_NUMBER: ${{ github.event.number }}
          REVIEW_BUCKET_NAME: ${{ secrets.AWS_REVIEW_BUCKET_NAME }}
          REACT_APP_RPC_TOKEN: ${{ secrets.REACT_APP_RPC_TOKEN }}

      - name: 'PRaul: Comment PR with app URLs'
        if: success() && github.event.number
        uses: mshick/add-pr-comment@v1
        with:
          message: |
            * [Compound app](${{ env.REVIEW_FEATURE_URL }}/compound/)
            * [WalletConnect app](${{ env.REVIEW_FEATURE_URL }}/wallet-connect/)
            * [Tx Builder App](${{ env.REVIEW_FEATURE_URL }}/tx-builder/)
            * [Drain Account App](${{ env.REVIEW_FEATURE_URL }}/drain-safe/)
            * [RAMP Network App](${{ env.REVIEW_FEATURE_URL }}/ramp-network/)
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'github-actions[bot]'
        env:
          REVIEW_FEATURE_URL: https://pr${{ github.event.number }}--${{ env.REPO_NAME_ALPHANUMERIC }}.review.gnosisdev.com

  deploy:
    name: Deploy Dev/Staging
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-env
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2

      - name: Test and Build
        run: |
          npx nx affected --target=test --parallel
          npx nx affected --target=build --parallel
      # Script to deploy to the dev environment
      - name: 'Deploy to S3: Develop'
        if: github.ref == 'refs/heads/development'
        run: npx nx affected --target=deploy:s3
        env:
          BUCKET_NAME: ${{ secrets.AWS_DEV_BUCKET_NAME }}

      # Script to deploy to staging environment
      - name: 'Deploy to S3: Staging'
        if: github.ref == 'refs/heads/main'
        run: npx nx affected --base=last-release --target=deploy:s3
        env:
          BUCKET_NAME: ${{ secrets.STAGING_BUCKET_NAME }}/current

  release:
    name: Production release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-env

      - name: 'Deploy production'
        uses: ./.github/actions/release
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          prod_deployment_hook_token: ${{ secrets.PROD_DEPLOYMENT_HOOK_TOKEN }}
          prod_deployment_hook_url: ${{ secrets.PROD_DEPLOYMENT_HOOK_URL }}
          bucket_name: ${{ secrets.STAGING_BUCKET_NAME }}/releases
