name: Safe Apps E2E
on:
  pull_request:
  push:
    branches:
      - development
  schedule:
    # At 9:00 on every day-of-week from Monday through Friday
    - cron: '0 9 * * 1-5'

jobs:
  safe-apps-e2e:
    runs-on: ubuntu-20.04
    # let's make sure our tests pass on Chrome browser
    name: E2E on Chrome
    steps:
      - uses: actions/checkout@v2
      - name: Set PR Safe Apps base URL
        run: echo "SAFE_APPS_BASE_URL=https://pr${{ github.event.number }}--safereactapps.review.gnosisdev.com" >> $GITHUB_ENV
        if: github.ref != 'refs/heads/development'
      - name: Set development Safe Apps base URL
        run: echo "SAFE_APPS_BASE_URL=https://safe-apps.dev.gnosisdev.com" >> $GITHUB_ENV
        if: github.ref == 'refs/heads/development'
      - uses: cypress-io/github-action@v2
        with:
          browser: chrome
          record: true
          spec: cypress/integration/drain-account/drain.spec.js,cypress/integration/tx-builder/tx-builder.spec.js
        env:
          CI: 'true'
          CYPRESS_RECORD_KEY: '58d04fdf-3a27-4a40-a473-a85d248ee307'
          CYPRESS_BASE_URL: 'https://gnosis-safe.io/app'
          CYPRESS_SAFE_APPS_BASE_URL: ${{env.SAFE_APPS_BASE_URL}}
          CYPRESS_NETWORK_PREFIX: 'rin'
          CYPRESS_TESTING_SAFE_ADDRESS: '0x3bc83f41490BfD25bBB44eBCAc3761DFF4Ae50DA'
          CYPRESS_CONFIG_SERVICE_BASE_URL: 'https://safe-client.gnosis.io'
          SLACK_WEBHOOK_URL: ${{  secrets.SLACK_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
